
<div>
  <h1>My name is Maruf <%= @names%></h1>
  <img style="border: 3px dashed red" src="http://bit.ly/1eze8aE">
<%if @names == nil %>
  <form action="/named-cat">
    <input type="text" name="name">
    <input type="submit" value="submit">
<%end%>

 </div>
